
body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  min-height: 100vh;
  overflow-x: hidden; 
}

h1 {
  margin: 20px;
  color: #f39c12;
}


form {
  background-color: #333;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  width: 90%; 
  max-width: 400px; 
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


input, button {
  margin: 10px 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #222;
  color: #fff;
  font-size: 16px;
}

input:focus {
  border-color: #f39c12;
  outline: none;
}

button {
  background-color: #f39c12;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e67e22;
}


table {
  width: 70%;
  max-width: 900px;
  margin-top: 20px;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 12px 15px;
  text-align: center;
}

th {
  background-color: #333;
  color: #f39c12;
}

tr:nth-child(even) {
  background-color: #222;
}

tr:nth-child(odd) {
  background-color: #333;
}

button {
  margin: 5px;
  padding: 5px;
  width: 80px;
}


@media (max-width: 600px) {
  body {
    align-items: flex-start;
  }

  table {
    width: 100%;
  }

  form {
    width: 100%;
  }
}
